services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: cpe
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: my-first-database
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./server
    ports:
      - "5000:5000"
      - "5555:5555"
    environment:
      DATABASE_URL: "postgresql://cpe:1234@db:5432/my-first-database?schema=public"
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  pgdata: